html{
  width: 100%;
  height: 100%;
  background-color: #2a2a72;
	background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}
body{
  width: 100%;
  height: 100%;
}

#root{
  width: 100%;
  height:100%;
}

.App{
	display: flex;
	flex-direction: column;
 	width: 100%;
}

.post-info{
	display: flex;
	flex-direction: column;
}
