.Header-div{
	display:flex;
	flex-direction:column;
	justify-content:center;
	text-align:center;
background-color: #2a2a72;
background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
	width:100%;
	height: 10vh;
}
.nav-header{
	display:flex;
	flex-direction:row;
	justify-content:flex-end;
	text-align:center;
}
.ul-Header{
	display:flex;
	flex-direction:row;
	width: 25%;
	justify-content:space-around;
	text-align:center;
	padding: 0px;
}
.Header-li{
	display:flex;
	flex-direction:column;
	justify-content:center;
	text-align:center;
	padding:3px 10px 3px 10px;
}